
        <!--================ Start Registration Area =================-->

              <div class="main-panel">
                <div class="content ">
                  <div class="container-fluid">
                     {{>_errors}}
                      {{>_msg}}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="card-title text-center">Register to create account</h4>
                          </div>
                          <div class="card-body">
                            <form class="" action="/hostel/registerhostels" method="post">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="bmd-label-floating">hostel Name</label>
                                    <input type="text" class="form-control" value="" name="name" >
                                  </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="bmd-label-floating">Location</label>
                                    <input type="text" class="form-control" value="" name="location" >
                                  </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="bmd-label-floating">total rooms</label>
                                    <input type="number" class="form-control" value="" name="totalrooms" >
                                  </div>
                                </div>


                                <button type="submit" class="btn btn-success btn-block" name="button">Submit</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

          <!--================ End Registration Area =================-->
