<div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">
  <div class="logo">
    <a class="simple-text logo-normal">
    welcome </br>
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <a class="nav-link" href="/admin/index">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">
          <i class="material-icons">person</i>
          <p>Pending loan payments</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="">
          <i class="material-icons">content_paste</i>
          <p>Loan Defaulters</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/admin/Blacklist">
          <i class="material-icons">library_books</i>
          <p>Blacklisted Members</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/loan/index">
          <i class="material-icons">bubble_chart</i>
          <p>reports</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">
          <i class="material-icons">notifications</i>
          <p>Notifications</p>
        </a>
      </li>
    </ul>
  </div>
</div>
