{{#if success_msg}}
<div class="col-md-6 ml-0 alert alert-success">
  {{success_msg}}
</div>
{{/if}}

<!--===checking error message====-->

{{#if error_msg}}
<div class="alert alert-danger col-md-6">
  {{error_msg}}
</div>
{{/if}}
