<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>

{{!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> --}}

     <link rel="stylesheet" href="/css/style.css" />
     <link rel="stylesheet" href="/css/group.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/material-icons.min.css" />
    <link href="/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <link href="/css/bootstrap.css"/>

   {{{body}}}

    {{!-- //<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
   {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> --}}

   <script src="/js/jquery-3.2.1.min.js"></script>
   <script src="/js/popper.js"></script>
   <script src="/js/bootstrap.min.js"></script>
   <script src="/socket.io/socket.io.js"></script>
   <script src="/js/group/groupchat.js"></script>
   <script src="/js/group/sendrequest.js"></script>
  {{!-- https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.js </body> --}}
